.BlogpostHashtag {

    .utility_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .utility_container > div {
        background: red;
        padding: 2.4rem 5rem;
        border-radius: 1rem;
        border: 1px solid transparent;
        transition: var(--transition);
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
}
}
