.RequestCard {

	--color-bg: rgba(0,0,0,1);
    --color-bg-variant: #9f9fa0;
    --color-primary: white;
    --color-primary-variant: rgba(201, 208, 213, 0.64);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --color-transparent: rgba(255, 255, 255, 0);

    --transition: all 400ms ease;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

	@mixin animation($str) {
		-webkit-animation: #{$str};
		animation: #{$str};
	  }
  
	@keyframes spin {
		0% {
			--rotate: 0deg;
		}
		100% {
			--rotate: 360deg;
		}
	}
	@property --rotate {
		syntax: "<angle>";
		initial-value: 132deg;
		inherits: false;
	}
	
	--card-height: 65vh;
	--card-width: calc(var(--card-height) / 1.5);
	
	background: #191c29;
	width: var(--card-width);
	height: var(--card-height);
	padding: 3px;
	position: relative;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 1.5em;
	color: rgb(88 199 250 / 0%);
	cursor: pointer;
	font-family: cursive;
	
	
}

.RequestCard:hover {
	color: rgb(88 199 250 / 100%);
	transition: color 1s;
}
.RequestCard:hover:before, .RequestCard:hover:after {
	animation: none;
	opacity: 0;
}

.RequestCard::before {
	content: "";
	width: 104%;
	height: 102%;
	border-radius: 8px;
	background-image: linear-gradient(
	var(--rotate)
	, #5ddcff, #3c67e3 43%, #4e00c2);
	position: absolute;
	z-index: -1;
	top: -1%;
	left: -2%;
	animation: spin 2.5s linear infinite;
}

.RequestCard::after {
	position: absolute;
	content: "";
	top: calc(var(--card-height) / 6);
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	transform: scale(0.8);
	filter: blur(calc(var(--card-height) / 6));
	background-image: linear-gradient(
	var(--rotate)
	, #5ddcff, #3c67e3 43%, #4e00c2);
	opacity: 1;
	transition: opacity .5s;
	animation: spin 2.5s linear infinite;
}